table.row.app-footer
  tr
    td.wrapper
      table.twelve.columns
        tr
          td.six.sub-columns.text-left
            strong
              | Образовательный центр &laquo;Анкор&raquo;
          td.six.sub-columns.last.text-right
            a(href="http://ankor-center.ru")
              strong
                | ankor-center.ru
          td.expander
      block socials
        - socials = {'Вконтакте': 'http://vk.com/ankorcenter', 'Facebook': 'https://www.facebook.com/ankorcenter', 'Instagram': 'http://instagram.com/ankorcenter', 'Twitter': 'https://twitter.com/ankorcenter', 'Youtube': 'https://www.youtube.com/user/ankorcenter', 'Google+': 'https://plus.google.com/100103884461236050501'}
      .socials-list
        span.socials-list-item
          | Follow Ankor: 
        each key, value in socials
          a.socials-list-item(href="#{key}")= value



       include ../partials/footer_contacts


