table.row.app-footer-content
  tr
    td.wrapper
      table.six.sub-columns
        tr
          td.footer-links
            p
              strong
                | Чебоксары
              br
              | (8352) 68-58-08
              br
              | ул.Карла Маркса, 42
    td.wrapper.last
      table.six.sub-columns
        tr
          td
            strong
              | Йошкар-Ола
            br
            | (8362) 46-01-25 
            br
            | ул. Первомайская, 101

          td.expander
p
  | Напишите нам 
a(href="school@ankor-center.ru")
  | school@ankor-center.ru



//- include ./nav
