table.row.app-footer
  tr
    td.wrapper
      table.twelve.columns
        tr
          td.six.sub-columns.text-left
            strong
              | Образовательный центр &laquo;Анкор&raquo;
          td.six.sub-columns.last.text-right
            a(href="http://ankor-center.ru")
              strong
                | ankor-center.ru
          td.expander

       include ../partials/footer_contacts


