table.row.app-header
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.expander
          td.center(colspan='12')
            a(href="#{siteUrl}")
              center
                img.app-header-logo.center(src="#{assetsPath}/logo-email.png" width=headerLogoWidth height=headerLogoHeight)

          td.expander
