// *|IFNOT:ARCHIVE_PAGE|*

table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.expander
          td.center(colspan='12'  mc:edit='preheader_links')
            | Неудобно читать письмо?
            a(href='*|ARCHIVE|*' target='_blank')  Откройте его в браузере
          td.expander
// *|END:IF|*

table.row.app-header
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.expander
          td.center(colspan='12')
            a(href="#{siteUrl}")
              center
                img.app-header-logo.center(mc:edit='app_header_logo' src="#{assetsPath}/logo-email.png" alt="Образовательный центр Анкор" width=headerLogoWidth height=headerLogoHeight)

          td.expander
