assets-path = 'http://ankor-center.ru/email'
base-font-size = 14px
content-font-size = 18px
base-line-height = 1.5
headings-line-height = 1.2
line-color = #eeeeee
link-color = #00a0e3
link-color-hover = darken(link-color, 10%)
header-logo-width = 124px
header-logo-height = 39px

@import '_fonts'
@import url(http://ankor-center.ru/email/_fonts.css)

body, table.body, p, td, h1, h2, h3, h4, h5, h6
  color text-color
  font-family "Circe", "Helvetica", "Arial", sans-serif !important
  padding 0
  margin 0
  text-align left
  line-height base-line-height

body, table.body, p, td
  font-size base-font-size
  font-weight 400

h1, h2, h3, h4, h5, h6
  font-weight: 700
  margin-top 0.5em
  margin-bottom: 0.75em
  line-height: headings-line-height

a
  color link-color !important
  &:hover
    color link-color-hover !important


.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

table.row.app-header
  border-bottom 1px solid line-color
  margin-bottom 30px
  padding-top 30px
  padding-bottom 30px

table.row.app-footer
  margin-top 30px
  padding-top: 30px
  padding-bottom: 40px
  border-top 1px solid line-color


table.row.app-footer-content
  margin-bottom 10px


.app-content-block
  margin-bottom: 20px

.app-content
  font-size content-font-size
  line-height base-line-height
  img
    margin-bottom 2em
    display block
    max-width 100%

table[class="body"]
  img.app-header-logo
    width header-logo-width !important
    height header-logo-height !important
    max-width auto



