@font-face
  font-family: "Circe"
  src: url(assets-path + "/" + "circe-thin.eot")
  src: url(assets-path + "/" + "circe-thin.eot?#iefix") format("embedded-opentype"), url(assets-path + "/" + "circe-thin.woff") format("woff"), url(assets-path + "/" + "circe-thin.ttf") format("truetype"), url(assets-path + "/" + "circe-thin.svg#CirceLight") format("svg")
  font-weight: 100
  font-style: normal
@font-face
  font-family: "Circe"
  src: url(assets-path + "/" + "circe-extralight-m.eot")
  src: url(assets-path + "/" + "circe-extralight-m.eot?#iefix") format("embedded-opentype"), url(assets-path + "/" + "circe-extralight-m.woff") format("woff"), url(assets-path + "/" + "circe-extralight-m.ttf") format("truetype"), url(assets-path + "/" + "circe-extralight-m.svg#CirceLight") format("svg")
  font-weight: 200
  font-style: normal
@font-face
  font-family: "Circe"
  src: url(assets-path + "/" + "circe-light-m.eot")
  src: url(assets-path + "/" + "circe-light-m.eot?#iefix") format("embedded-opentype"), url(assets-path + "/" + "circe-light-m.woff") format("woff"), url(assets-path + "/" + "circe-light-m.ttf") format("truetype"), url(assets-path + "/" + "circe-light-m.svg#CirceLight") format("svg")
  font-weight: 300
  font-style: normal
@font-face
  font-family: "Circe"
  src: url(assets-path + "/" + "circe-regular-m.eot")
  src: url(assets-path + "/" + "circe-regular-m.eot?#iefix") format("embedded-opentype"), url(assets-path + "/" + "circe-regular-m.woff") format("woff"), url(assets-path + "/" + "circe-regular-m.ttf") format("truetype"), url(assets-path + "/" + "circe-regular-m.svg#Circe") format("svg")
  font-weight: 400
  font-style: normal
@font-face
  font-family: "Circe"
  src: url(assets-path + "/" + "circe-bold-m.eot")
  src: url(assets-path + "/" + "circe-bold-m.eot?#iefix") format("embedded-opentype"), url(assets-path + "/" + "circe-bold-m.woff") format("woff"), url(assets-path + "/" + "circe-bold-m.ttf") format("truetype"), url(assets-path + "/" + "circe-bold-m.svg#CirceBold") format("svg")
  font-weight: bold
  font-style: normal
@font-face
  font-family: "Circe"
  src: url(assets-path + "/" + "circe-extrabold-m.eot")
  src: url(assets-path + "/" + "circe-extrabold-m.eot?#iefix") format("embedded-opentype"), url(assets-path + "/" + "circe-extrabold-m.woff") format("woff"), url(assets-path + "/" + "circe-extrabold-m.ttf") format("truetype"), url(assets-path + "/" + "circe-extrabold-m.svg#CirceExtraBold") format("svg")
  font-weight: 900
  font-style: normal
