assets-path = 'http://ankor-center.ru/email'

@font-face
  font-family: "Circe"
  src: url(assets-path + "/" + "circe-regular-m.eot")
  src: url(assets-path + "/" + "circe-regular-m.eot?#iefix") format("embedded-opentype"), url(assets-path + "/" + "circe-regular-m.woff") format("woff"), url(assets-path + "/" + "circe-regular-m.ttf") format("truetype"), url(assets-path + "/" + "circe-regular-m.svg#Circe") format("svg")
  font-weight: normal
  font-style: normal
@font-face
  font-family: "Circe"
  src: url(assets-path + "/" + "circe-bold-m.eot")
  src: url(assets-path + "/" + "circe-bold-m.eot?#iefix") format("embedded-opentype"), url(assets-path + "/" + "circe-bold-m.woff") format("woff"), url(assets-path + "/" + "circe-bold-m.ttf") format("truetype"), url(assets-path + "/" + "circe-bold-m.svg#CirceBold") format("svg")
  font-weight: bold
  font-style: normal
@font-face
  font-family: "Circe"
  src: url(assets-path + "/" + "circe-extrabold-m.eot")
  src: url(assets-path + "/" + "circe-extrabold-m.eot?#iefix") format("embedded-opentype"), url(assets-path + "/" + "circe-extrabold-m.woff") format("woff"), url(assets-path + "/" + "circe-extrabold-m.ttf") format("truetype"), url(assets-path + "/" + "circe-extrabold-m.svg#CirceExtraBold") format("svg")
  font-weight: 900
  font-style: normal
