table.app-content-block
  tr
    td
      h1
        | Краткий курс испанского для взрослых. Идёт набор в группу!
      p.app-content
        img(src="http://ankor-center.ru/uploads/post/image/49/standard_%D0%98%D0%A1%D0%9F%D0%90%D0%9D%D0%A1%D0%9A%D0%98%D0%99.jpg" width="580" height="421")
      p.app-content
        | Школа иностранных языков «Анкор» в Чебоксарах объявляет о наборе на краткий курс испанского языка для взрослых!
        br
        br
        | Курс подходит для тех, кому нужно быстро овладеть основами языка. По окончании курса вы научитесь: рассказывать о себе, описывать внешность, характер людей, говорить о семье, городах, обстановке в доме, обсуждать хобби и занятия в свободное время. Вы без труда сможете сделать заказ в ресторане, ходить за покупками и описывать ежедневные действия.
        br
        | Расскажем подробнее и ответим на Ваши вопросы по 
        | тел.: 68 28 58
        br
        | Следите за новостями в нашей группе 
        a(href="http://vk.com/ankorcenter" rel="nofollow" target="_blank")
          | ВКонтакте
        br
